@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
input[type='text'],
input[type='number'],
input {
  font-size: 16px;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@layer base {
  :root {
    --background: 163 61% 99%;
      --foreground: 163 64% 2%;
      --muted: 163 7% 87%;
      --muted-foreground: 163 8% 37%;
      --popover: 163 61% 99%;
      --popover-foreground: 163 64% 2%;
      --card: 163 61% 99%;
      --card-foreground: 163 64% 2%;
      --border: 163 5% 89%;
      --input: 163 5% 89%;
      --primary: 163 15% 61%;
      --primary-foreground: 163 15% 1%;
      --secondary: 163 19% 83%;
      --secondary-foreground: 163 19% 23%;
      --accent: 163 26% 77%;
      --accent-foreground: 163 26% 17%;
      --destructive: 8 80% 39%;
      --destructive-foreground: 8 80% 99%;
      --ring: 163 15% 61%;
      --radius: 0.5rem;
  }

    .dark {
      --background: 0 0% 15.69%;
      --foreground: 0 0% 85%;
      --muted: 0 0% 23.85%;
      --muted-foreground: 0 0% 61.96%;
      --popover: 0 0% 18.43%;
      --popover-foreground: 0 0% 95%;
      --card: 0 0% 15.69%;
      --card-foreground: 0 0% 90%;
      --border: 0 0% 21.57%;
      --input: 0 0% 20%;
      --primary: 0 0% 100%;
      --primary-foreground: 0 0% 20%;
      --secondary: 0 0% 25%;
      --secondary-foreground: 0 0% 85%;
      --accent: 0 0% 27%;
      --accent-foreground: 0 0% 87%;
      --destructive: 4 50% 50%;
      --destructive-foreground: 0 0% 100%;
      --ring: 0 0% 100%;
    }


  .redLight {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }
  .redDark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body {
  /* font-family: 'Neue Montreal'; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}
.backward,
.forward {
  transition: 0.4s opacity, 0.4s visibility;
}

[data-ctrl-hidden="true"] .forward,
[data-ctrl-hidden="true"] .backward {
  visibility: hidden;
  opacity: 0;
}

.backward,
.forward {
  width: 2em;
  color: #fff;
  position: absolute;
  background: none;
  outline: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .backward,
  .forward {
    width: 3em; /* Set to 3em for larger screens */
  }
}

.backward {
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.forward {
  right: 25%;
  top: 50%;
  transform: translate(50%, -50%);
}

.backward:active svg {
  transform: rotate(-45deg);
  transition: 0.1s transform;
}

.forward:active svg {
  transform: rotate(45deg);
  transition: 0.1s transform;
}
:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}
